<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="header :: header"></head>
<body>
<div class="container my-5">
    <h2 class="mb-5">Novo Membro</h2>
    <div class="row">
        <div class="col-md-6">
            <form action="#" th:action="@{/member/save}" th:object="${member}" method="post">
                <div class="row">
                    <div class="form-group col-md-6">
                        <input type="text" th:field="*{name}" class="form-control" id="name"
                               placeholder="Digite o Nome">
                        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="teamSelect">Time</label>
                        <select class="form-control" id="teamSelect" th:field="*{team.id}">
                            <option th:if="${teams.empty}">
                                Nenhum time cadastrado!
                            </option>
                            <option th:each="team : ${teams}" th:value="${team.id}"
                                    th:text="${team.name}" >
                            </option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <input type="submit" class="btn btn-primary" value="Salvar">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
